@{
    ViewData["Title"] = "Home";
}
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="pabulum-img img-fluid" src="~/css/1st slide.jpg" alt="" width="1300" height="400" />
    <div class="w3-display-middle w3-margin-top w3-center">
</div>
</header>
<hr />

<!-- About Section -->

<div class="w3-row w3-padding-64" id="about">

    <div class="container">
        <div class="div2">
            <center> <h1 class="w3-center">ABOUT US</h1></center><br>

            <p class="w3-large text-center">
                Pabulum derives from the Latin term for "food" or "fodder" and
                was first used in English in the 17th century for anything taken in by plants or animals to maintain life and growth.
                Within 30 years of its first appearance in English texts,
                it was also being used to refer to things so intellectually stimulating or nourishing that they could be considered food for thought.
                But the word took on a whole new flavor in the 1930s when a team of Canadian doctors formulated a highly nutritious (but bland) baby cereal and named their product "Pablum" (based on the Latin word).
                As a result, the similar-looking "pabulum" did a linguistic about-face and is now often used for things that are bland and unstimulating as well as for things that are intellectually sustaining.<br />
                PABULUM is online portal which can be used by a catering company which provides meals to one or more than one company regularly. To keep the track of their meal oerders and provide then with artificial coupon, etc. It is basically a food portal for
                company and the employess of it enjoy. It is an updated version of older portals used by food companies, I think so.
            </p>
        </div>
    </div>
</div>


