@using static TYProject.Web.Controllers.CompanyController;
@model CompanyViewModel

@{
    Layout = "_PartialLayout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_createOrEditPartial"></partial>
        </div>
    </div>
</div>

