@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<script type="text/x-kendo-template" id="companyListing_row">
    # console.log('Inside tempate', data) # 
    <tr data-bind="click: showDetail" data-uid="#: uid #">
        <td>#: data.id #</td>
        <td><span>#: data.name #</span></td>
        <td><span>#: data.isActive ? 'Yes' : 'No' #</span></td>
        <td>
            <button title="Edit" class="btn btn-light"><i class="fa-solid fa-pencil"></i></button>
            <button title="Delete" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
        </td>
    </tr>
</script>

<script>
    (function onCompanyDetailsLoad(global, $) {


        $(document).ready(function onCompanyDetailsReady() {

            $("#addNewPersonButton").on("click", function onNewPerson() {
                var url = '@Url.Action("Create","Company")';

                global.location.href = url + "?companyId=" ;
            });
        });
    })(window, jQuery);
</script>

<div class="container">

    <!-- Page Header -->
    
    <div class="row">
        <div class="col">
            <div class="header">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">
                                -
                            </h6>
                            <h1 class="header-title">
                                Customers
                            </h1>
                        </div>
                        <div class="col-auto">
                            <button id="addNewPersonButton" type="button" title="Add new customer" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
    </div>
    <!-- Page Content -->
    <div class="bg-light">
    <div id="company-table-container" class="row mt-4">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-cell-sm table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Is Active</th>
                            <th style="width:150px;">Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="visible: showSpinner">
                        <tr>
                            <td colspan="4">
                                <div class="d-flex justify-content-center text-info">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-template="companyListing_row" data-bind=" visible: hasData, source: Data" >
                    </tbody>
                </table>

                <span data-bind="invisible: hasData">No Data Found</span>
            </div>
        </div>
    </div></div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col-auto">
            <button id="companyListRefreshBtn" title="Refresh" class="btn btn-secondary"><i class="fa-solid fa-arrows-rotate"></i></button>
        </div>
    </div>

    <div id="createEditWindow"></div>


<script>
    (function onCompanyIndexLoad(global, $, kendo) {

        var urls = {};

        urls.Detail = '@Url.Action("Detail", "Company")';

        global.CompanyIndexContext = {};
        global.CompanyIndexContext.model = pageModel;
        global.CompanyIndexContext.showSpinner = showSpinner;
        global.CompanyIndexContext.hideSpinner = hideSpinner;
        global.CompanyIndexContext.detail = detail;
        global.CompanyIndexContext.openWindow = openWindow; 

        var companyPageModel = kendo.data.Model.define({
            fields: {
                IsBusy: { type: 'boolean', default: 'false' },
                Data: { type: 'object', default: [] },
                Errors: { type: 'object', default: [] },
            },

            // returns true if errrors present, otherwise false
            hasErrors: function hasErrors() {
                return this.get('Errors').length > 0;
            },
            showSpinner: function showSpinner() {
                return this.get('IsBusy') === true;
            },
            hasData: function hasData(){
                return this.get('Data').length > 0;
            }
        });

        var companyModel = kendo.data.Model.define({
            fields: {
                Id: { type: 'number', default: 0 },
                Name: { type: 'string', default: '' },
                IsActive: { type: 'boolean', default: false }
            },
            showDetail: function (){
                var id = this.id;

                global.location.href = urls.Detail + "?id=" + id;
            }
        });

        function openWindow(){
            var windowOptions = {
                actions: ["Custom", "Minimize", "Maximize", "Close"],
                draggable: false,
                resizable: false,
                width: "500px",
                title: "EGG CHAIR",
                visible: false,
                close: function(){}
            };

            $("#createEditWindow").kendoWindow(windowOptions);

            $("#createEditWindow").data("kendoWindow").open();
            $("#createEditWindow").data("kendoWindow").center();

        }  

        var pageModel = null;

        async function get () {

            var url = global.Main.rootUrl + "/Company/AllCompanies";

            try{

                showSpinner();

                var response = await $.ajax({
                    method: "GET",
                    url: url,
                });

                if (response.isSuccess) {
                    var companies = response.data;
                    pageModel.set('Data', response.data.map(e => new companyModel(e)));
                    console.log(pageModel.get('Data'));
                } else {
                    pageModel.set('Data', []);
                    pageModel.set('Errors', response.errors);
                }

                console.log("PageModel: ", pageModel);

            } catch (err) {
                console.error("Failed to fetch companies");
            } finally {
                hideSpinner();
            }
            
        };

        function detail(id){
            var url = '@Url.Action("Detail", "Company")';
            global.location.href = url;
        }

        function showSpinner(){
            pageModel.set('IsBusy', true);
        }

        function hideSpinner() {
            pageModel.set('IsBusy', false);
        }

        $(document).ready(async function onCompanyIndexReady(){

            pageModel = new companyPageModel();

            $("#showSpinnerbtn").on('click', function showSpinnerHandler() { showSpinner(); });
            $("#hideSpinnerbtn").on('click', function hideSpinnerHandler() { hideSpinner(); });
            
            $("#companyListRefreshBtn").on('click', async function refresh(){
                await get();
            });

          

            await get();

            kendo.bind($("#company-table-container"), pageModel);

            console.log("Layout", '@Layout');
        });

    })(window, jQuery, kendo);
</script>
