@model PersonViewModel
@using TYProject.Core.PersonAggregate;
@using static TYProject.Web.Controllers.PersonController;


<div class="bg-light">
  <center>  <img src="~/css/success.png" /></center>

  </div>