@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Customers-->

        <form>
            <label for="Name">Name:</label><br>
            <input type="text" id="name" value="">
            <br><br>
            <label for="IsActive">IsActive:</label>
            <select name="option" id="option">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br /><br />
            <button type="button" class="btn btn-primary">SUBMIT</button>
            <br><br>

        </form>
   