@using static TYProject.Web.Controllers.ContactController;
@model ContactViewModel

@{
    //Layout = "_PartialLayout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_Contact"></partial>
        </div>
    </div>
</div>
